body {
    color: white;
    background-image: url('background.jpg');
    opacity: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  .accordion-item .accordion-item-header {
    background-color: green;
  } 